node_modules/
__pycache__/
*.pyc
.env
.env.local
.DS_Store
dist/
build/
.vite/
*.log
*.sqlite
*.db
coverage/
.next/
.nuxt/
venv/
.venv/
*.egg-info/
*.exe
*.dll
*.bin
*.obj
*.lib
*.pdb
*.ilk
*.exp
*.manifest
*.sys
*.com
*.msi
*.cab
*.iso
*.tar
*.gz
*.zip
*.rar
*.7z
